*{
    box-sizing: border-box;
}

body{
    font-family: 'raleway';
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
section{
    padding: 15px;
}
ul{
    list-style-type: none;
}

/* Header */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
    width: 100%;
}
header nav{
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}
header nav ul{
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    padding-left: 0px;
}
header nav ul li{
    display: flex;
    text-align: center;
    flex-basis: 50%;
    justify-content: center;
    padding-bottom: 15px;
    border-bottom: 3px solid #f2f2f2;
}
header > a{
    font-weight: bold;
    color: #0065fc;
}
header > a:first-child{
    margin-left: 15px;
}
header > a:nth-child(2){
    margin-right: 15px;
}
header li:hover{
    border-bottom: solid 3px #0065fc;
}
header li:hover a{
    color: #0065fc;
}


/* Main */

/* Location */
#location h1{
    margin-top: -15px;
}
#location p{
    margin-top: -6px;
}
#location form{
    border: solid 1px;
    border-radius: 20px;
    border-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
#location form input{
    border: none;
    padding-right: 60px;
}
#location form input::placeholder{
    font-weight: bold;
    color: black;
    opacity: 1;
    font-size: 1.2em;
}
#location form button{
    background-color: #0065fc;
    border-radius: 16px;
    padding: 10px 17px;
    border: none;
}
#location form button span{
    color: white;
    font-size: 1.2em;
}
#location form >i:first-child{
    background-color: #f2f2f2;
    font-size: 1.2em;
    padding: 15px 18px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

/* Filters */

#filters h3{
    margin: 5px;
}
#filters{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#filters ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
}
#filters ul li{
    border: solid 2px;
    border-color: #f2f2f2;
    border-radius: 50px;
    font-weight: bold;
    margin: 10px;
    display: flex;
    padding-right: 15px;
}
#filters ul li i{
    color: #0065fc;
    margin-right: 10px;
    background-color: #deebff;
    font-size: 18px;
    padding: 15px 12px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}
#filters p{
    display: flex;
    align-items: flex-start;
    position: relative;
}
#filters p i{
    border: solid 1px;
    padding: 7px;
    color: #0065fc;
    border-color: lightgray;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    min-width: 2.3em;
    align-items: center;
    font-size: 0.8em;
    position: relative; 
    bottom: 5px;
    margin-right: 10px;
}
#filters ul li:hover{
    background-color: #deebff;
}

/* Most Popular */

#mostpopular{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
#mostpopular > article{
    background-color: white;
    border-radius: 20px;
    flex-basis: 100%;
}
#mostpopular article > a{
    display: flex;
    flex-direction: row;
}
#mostpopular article > div{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}
#mostpopular article div i{
    color: #0065fc;
}
#mostpopular article figure{
    display: flex;
    flex-basis: 45%;
    height: 100%;
}
#mostpopular figure > img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
    height: 150px;
    flex-basis: 100%;
}